@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Merriweather+Sans:wght@300;500&display=swap');

body {
  background-color: white;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
}

.greeting {
  text-align: center;
}

.image {
  height: 215px;
  width: 215px;
  display: flex;
  align-items: center;
  margin: 58px auto 0;
  position: relative;
  justify-content: center;
}

.description {
  text-align: center;
  padding: 40px 200px;
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 1.5px;
  font-family: 'Didact Gothic', sans-serif;
}

.socials {
  list-style: none;
  margin-top: 38px;
}

.links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 500px;
}

#profile_pic {
  border-radius: 100px;
  box-shadow: 3px 3px 5px #000000a8;
}

.background_line {
  position: absolute;
  height: 314px;
  width: -webkit-fill-available;
  background: #b199ca;
  z-index: -999;
  margin: -200px;
}
